body{
  color: #333;
  font-family: Verdana,sans-serif;
  margin:0;
}


header{
  background-color: #efefef;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main{
  text-align: center;
  font-weight: bold;
  font-size:36px;
  margin-bottom: 20px;
}

.container{
  width: 400px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  align-items: center;
}
 
.profileicon img{
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color:white;
}


.info{
  margin-left:32px;
}

.info h1{
  font-weight: normal;
  font-size:24px;
  margin:0;
}

.info p{
  margin:0;
  margin-bottom: 16px;
}

.info ul{
  margin:0;
  padding: 0;
  list-style-type:none;
  display:flex;

}

.info ul li{
  margin-right: 8px;
}

.works{
  width:400px;
  margin-left: auto;
  margin-right: auto;
}

ul{
  font-size:20px;
  list-style-type: circle;
  list-style-position: inside;
}
/* 「>」を入れるとクラスの直下の階層だけに適応される */
.works > h1{ 
  font-weight:bold;
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.works >section{
  margin-bottom: 30px;
}

.works > section > h1{
  font-weight: normal;
}

.works p{
  line-height: 1.8;
}

.cheervoice{
  width:400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cheervoice >.CheerButton{
  background-color: skyblue;
  font-weight:bold;
  font-size: 24px;
  line-height: 2em;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}

.balloon1 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: black;
  font-size: 12px;
  font-weight: bold;
  background: #FDF5E6;
  border-radius: 15px;
}

.balloon1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #FDF5E6;
}

.balloon2 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: white;
  font-size: 36px;
  font-weight: bold;
  background: red;
  border-radius: 15px;
}

.balloon2:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid red;
}

.balloon1 p {
  margin: 0;
  padding: 0;
}

.note{
  font-size:12px;
}